/* JUEGO */
.juego{
    height: calc(100vh - 80px);
    /* height: 100vh; */
    overflow: hidden;
}

.botones-juego {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    /* overflow: hidden; */
}

.botones-juego .link-juegos {
    max-height: 200px;
    min-width: 180px;
    margin: 2rem 2rem;
    padding: 3rem;
    width: 400px;
    font-size: 2rem;
    background-color: transparent;
    border: 2px solid var(--main-color);
    cursor: pointer;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.botones-juego .link-juegos:hover {
    background-color: var(--main-color);
    box-shadow: 0 0 100px var(--main-color);
    border: none;
}

.decoracion{
    width: 100%;
}

@media screen and (max-width: 660px) {
    .botones-juego {
        flex-direction: column;
        margin-top: 15vh;
    }

    .botones-juego .link-juegos{
        font-size: 1.5rem;
        margin: 2rem auto;
        padding: 2rem;
        width: 50%;
    }

    .decoracion{
        position: absolute;
        bottom: 0px;
        height: 200px;
        overflow: hidden;
    }

    .decoracion img{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -70px;
    }
}