/* BOTONES DIFICULTAD */
.juego-dificultad {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 0.5s ease;
    overflow: hidden;
    background-color: black;
}

.juego-dificultad div {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    cursor: pointer;
    filter: brightness(0.2);
}

.juego-dificultad div h3 {
    position: absolute;
    bottom: 5rem;
    color: white;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.356);
    padding: 0.5rem 1rem;
}

.juego-dificultad div:hover {
    background-color: yellow;
    /* flex-basis: 180%; */
    transition: all 0.5s ease;
    filter: brightness(1);
    transform: scaleX(1.3);
    z-index: 10;
    animation: selected 1s infinite alternate linear;
    /* animation: dificultad 0.5s both ease; */
    /* animation-direction: ; */
}

.juego-dificultad div.facil {
    border-right: 2.5px solid var(--main-color);
}

.juego-dificultad div.medio {
    border-left: 2.5px solid var(--main-color);
    border-right: 2.5px solid var(--main-color);
}

.juego-dificultad div.dificil {
    border-left: 2.5px solid var(--main-color);
}

.juego-dificultad div img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    transition: all 0.5s ease;
}

@media screen and (max-width: 540px) {
    .juego-dificultad{
        flex-direction: column;
        /* max-height: calc(100vh - 80px); */
        height: calc(100vh - 80px);
    }

    .juego-dificultad div{
        width: 100%;
        height: 100%;
        /* max-height: 200px; */
        border: none;
        filter: brightness(1);
    }

    .juego-dificultad div:hover{
        transform: scale(1.2);
    }

    .juego-dificultad div h3{
        font-size: 1.3rem;
    }
    
    .juego-dificultad div img{
        object-fit: cover;
        /* max-height: 200px; */
        max-height: 260px;
    }

    .juego-dificultad div.facil {
        border: none;
        border-bottom: 2.5px solid var(--main-color);
        /* height: 100%; */
    }
    
    .juego-dificultad div.medio {
        border: none;
        border-top: 2.5px solid var(--main-color);
        border-bottom: 2.5px solid var(--main-color);
    }
    
    .juego-dificultad div.dificil {
        border: none;
        border-top: 2.5px solid var(--main-color);
    }
}