/* WINNER */
.box-winner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(70, 184, 70, 1);
}

.box-winner h2 {
    font-size: 7rem;
}

.box-winner .botones-winner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    justify-content: space-evenly;
}

.box-winner .botones-winner .boton-winner {
    background-color: var(--main-color);
    padding: 1rem 2rem;
    width: 10vw;
    border: 2px solid transparent;
}

.box-winner .botones-winner .boton-winner:hover {
    background-color: transparent;
    border: 2px solid var(--main-color);
}

@media screen and (max-width: 768px) {
    .box-winner {
        width: 100%;
        height: 100%;
    }
    .box-winner h2 {
        font-size: 5rem;
    }
    .box-winner .botones-winner {
        width: 100%;
    }
    .box-winner .botones-winner .boton-winner {
        width: 30vw;
    }
}